body {
  background:url('nature.jpg')no-repeat center center fixed;
/*   background: url(images/bg.jpg) no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title{
	position: relative;
	text-align: center;
	font-size:80px;
	font-family: Verdana, Geneva, sans-serif;
}

#horizontalicons{
	text-align: center;
	position: relative;
	top:20%;
	margin-left: auto;
	margin-right: auto;
}

#horizontalicons p{
	display: inline-block;
	padding: 80px;
}

#horizontalicons img{
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:1px solid #F8F8FF;
	opacity:0.75;
}

#horizontalicons img:hover {
  color:#f00;
}

#horizontalicons img:active {
  color:#f00;
}

#horizontalicons img:focus {
  color:#f00;
}

#medium{
	height: 200px;
	width: 200px; 
}

#github{
	height: 200px;
	width: 200px; 
}

#linkedin{
	height: 200px;
	width: 200px; 
}
div.background{
	text-align: center;
	position: relative;
	top:5%;
	margin-left: auto;
	margin-right: auto;
  width:750px;
  height:190px;
  background:url(klematis.jpg) repeat;
  }
div.transbox{
  width:700px;
  height:135px;
  margin:15px 25px;
  background-color:#ffffff;
  opacity:0.85;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  }
div.transbox p{
/*   text-align: left; */
  margin:0px 16px;
  font-weight:bold;
  color:#000000;
  }
  
div.transbox h1{
  margin-top: 200px;
  text-align: center;
  margin:2px 20px;
  font-weight:bold;
  color:#000000;
  }